<!-- Footer -->
<footer class="page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">仙台高専広瀬 高専祭実行委員会</h5>
        <p>
          メール:
          <a href="mailto:shomu.sf@hirose.nitech-sendai.jp" style="color: #80B7E8;">shomu.sf@hirose.nitech-sendai.jp</a><br/>
          (高専祭実行委員会 庶務部長行)<br/>
          登録情報の確認・パスワードが忘れたなどの際にお問い合わせください
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">各種リンク</h5>
        <p>
        <ul>
          <li>
            仙台高専HP <a href="https://www.sendai-nct.ac.jp/">https://www.sendai-nct.ac.jp/</a>
          </li>
          <li>
            学生会HP <a href="http://hirose.nitech-sendai.jp/">http://hirose.nitech-sendai.jp/</a>
          </li>
          <li>
            昨年度のHP
            <a href="http://hirose.nitech-sendai.jp/events/kousensai/2018/">http://hirose.nitech-sendai.jp/events/kousensai/2018/</a>
          </li>
        </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
      © 2019 Copyright: 仙台高専広瀬キャンパス高専祭実行委員会
  </div>
</footer>