<footer class="page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">Ryoushoku-BOT(松韻寮)</h5>
        <p>Twitter: <a href="https://twitter.com/RyoshokuBOT">仙台高専 広瀬寮食bot</a></p>
        <p>あくまで非公式です</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">各種リンク</h5>
        <p>
        <ul>
          <li>
            仙台高専HP <a href="https://www.sendai-nct.ac.jp/">https://www.sendai-nct.ac.jp/</a>
          </li>
          <li>
            学生会HP <a href="http://hirose.nitech-sendai.jp/">http://hirose.nitech-sendai.jp/</a>
          </li>
          <li>
            学生会HP <a href="http://hirose-web.sendai-nct.ac.jp/ryo/">http://hirose-web.sendai-nct.ac.jp/ryo/</a>
          </li>
         </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
      © 2019 Copyright: りょうしょくぼっと(しょういんりょう)
  </div>
</footer>
